.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order_total {
  margin-left: 200px;

  font-size: 24px;

  b {
    margin-left: 5px;
  }
}

.empty_cart {
  margin: 300px auto;

  font-size: 36px;
  text-align: center;
}

.return_link {
  max-height: 20px;
  margin: 0 10px;

  border-bottom: 2px solid #000;
}
