.ordered_book {
  display: flex;
  align-items: center;
  max-width: 400px;

  background-color: #ececec;

  box-shadow: 0 2px 5px 1px rgba(34, 60, 80, 20%);
}

.ordered_book_info {
  display: flex;
  flex-direction: column;
}
